<!--The content below is only a placeholder and can be replaced.-->
<div class="hero">
  <div class="hero__content">
    <img class="hero__logo" src="../assets/img/angular.svg" />
    <div class="hero__text-container">
      <h1 class="hero__text hero__text--primary">ngLou</h1>
      <h2 class="hero__text hero__text--secondary">Angular in Louisville</h2>
      <button class="hero__action-button" (click)="scrollToSignUp()">Sign Up</button>
    </div>
  </div>
</div>
<div id="sign-up" class="sign-up">
  <form #heroForm="ngForm" (ngSubmit)="onFormSubmit()" id="sign-up-form" name="sign-up"
  method="POST" class="sign-up__form" netlify-honeypot="honey-pot" ngNativeValidate netlify>
    <h2 class="sign-up__header">Be the first to know about new meetups</h2>
    <input type="hidden" name="form-name" value="sign-up" />
    <div class="sign-up__form-group sign-up__form-group--hidden">
      <label for="honeypot" class="sign-up__label sign-up__label--hidden">Don't fill this out if you're human:
        <input name="honey-pot" class="sign-up__input sign-up__input--hidden">
      </label>
    </div>
    <div class="sign-up__form-group">
      <label class="sign-up__label" for="name">Name</label>
      <input type="text" id="name" required name="name" [(ngModel)]="name" class="sign-up__text-input" />
    </div>
    <div class="sign-up__form-group">
      <label class="sign-up__label" for="email">Email</label>
      <input type="email" id="email" required name="email" [(ngModel)]="email" class="sign-up__text-input" />
    </div>
    <div class="sign-up__form-group sign-up__form-group--checkbox">
      <input type="checkbox" name="isInterestedInSpeaking"  [(ngModel)]="isInterestedInSpeaking" class="sign-up__checkbox" />
      <label class="sign-up__label sign-up__label--checkbox" for="isInterestedInSpeaking">I am interested in speaking about a topic related to Angular</label>
    </div>
    <button class="sign-up__submit-button" type="submit">
      Submit
    </button>
  </form>
</div>