<!--The content below is only a placeholder and can be replaced.-->
<section class="hero">
  <div class="hero__content">
    <img class="hero__logo" src="../assets/img/angular.svg" />
    <div class="hero__text-container">
      <h1 class="hero__text hero__text--primary">ngLou</h1>
      <h2 class="hero__text hero__text--secondary">Angular in Louisville</h2>
      <button class="hero__action-button" (click)="scrollToSignUp()">Sign Up</button>
    </div>
  </div>
</section>
<section class="about">
  <div class="about__content">
    <h2>Angular is a prominent technology</h2>
    <p>The Angular JavaScript framework is a very prominent technology, both in Louisville and around the world. According to
      the
      <a href="../assets/doc/LouTech Survey 2017 - Final (corrected).pdf">Louisville Tech 2017 Developer Survey</a>, over 14% of developers in Louisville use AngularJS, and almost 10.5% of developers
      use Angular. On a much larger scale, almost 37% (out of
      <em>51,620 responses!</em>) of the respondents to the
      <a href="https://insights.stackoverflow.com/survey/2018/#technology-frameworks-libraries-and-tools">Stack Overflow Developer Survey 2018</a>
      stated they use Angular.
    </p>
    <p>These numbers are significant. Considering the amount of people who use Angular or AngularJS in Louisville, it makes
      sense for those people to have a common place to come and share their knowledge, passions, and experiments with each
      other.
      <strong>
        <span class="about__brand-text">ngLou</span> aims to fill that need by hosting monthly meetups with speakers discussing relevant topics and the opportunity
        to network with like-minded developers.</strong>
    </p>
    <p>If you're interested, sign up below to be notified of when our meetup goes live. If you're willing to speak on a relevant topic, please indicate that in your submission
      and we'll be in touch to get started.
    </p>
  </div>
</section>
<section id="sign-up" class="sign-up">
  <form #heroForm="ngForm" (ngSubmit)="onFormSubmit()" id="sign-up-form" name="sign-up" method="POST" class="sign-up__form"
    netlify-honeypot="honey-pot" ngNativeValidate netlify>
    <h2 class="sign-up__header">Stay informed about the next ngLou meetup</h2>
    <input type="hidden" name="form-name" value="sign-up" />
    <div class="sign-up__form-group sign-up__form-group--hidden">
      <label for="honeypot" class="sign-up__label sign-up__label--hidden">Don't fill this out if you're human:
        <input name="honey-pot" class="sign-up__input sign-up__input--hidden">
      </label>
    </div>
    <div class="sign-up__form-group">
      <label class="sign-up__label" for="name">Name</label>
      <input type="text" id="name" required name="name" [(ngModel)]="name" class="sign-up__text-input" />
    </div>
    <div class="sign-up__form-group">
      <label class="sign-up__label" for="email">Email</label>
      <input type="email" id="email" required name="email" [(ngModel)]="email" class="sign-up__text-input" />
    </div>
    <div class="sign-up__form-group sign-up__form-group--checkbox">
      <input type="checkbox" name="isInterestedInSpeaking" [(ngModel)]="isInterestedInSpeaking" class="sign-up__checkbox" />
      <label class="sign-up__label sign-up__label--checkbox" for="isInterestedInSpeaking">I am interested in speaking about a topic related to Angular</label>
    </div>
    <button class="sign-up__submit-button" type="submit">
      Submit
    </button>
  </form>
</section>