@import '../variables';

%primary-button {
  background-color: $primary-brand;
  border: none;
  border-radius: 8px;
  color: $light-text-color;
  cursor: pointer;
  font-size: 24px;
  padding: 16px 72px;
  width: fit-content;

  &:focus {
    outline: none;
  }
  &:active {
    background-color: darken($primary-brand, 8%);
  }
}

.hero {
  align-items: center;
  display: flex;
  height: 102vh;
  justify-content: center;
  width: 100%;

  .hero__content {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 35%;
    .hero__logo {
      height: 100%;
      width: auto;
    }

    .hero__text-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .hero__text {
        margin: 0;
        font-weight: normal;
      }
      .hero__text.hero__text--primary {
        color: $primary-brand;
        font-size: 72px;
      }
      .hero__text.hero__text--secondary {
        font-size: 36px;
      }

      .hero__action-button {
        @extend %primary-button;
        margin: 24px 0;
      }
    }
  }
}

.sign-up {
  align-items: center;
  background-color: $dark-background-color;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .sign-up__form {
    background-color: $light-background-color;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    width: 20vw;

    .sign-up__header {
      font-size: 24px;
      margin: 0;
      text-align: center;
    }

    .sign-up__form-group {
      margin: 48px 0;
      width: 100%;
    }

    .sign-up__form-group--hidden {
      display: none;
    }

    .sign-up__form-group--checkbox {
      display: flex;
      align-items: center;
    }

    .sign-up__label {
      color: $accent;
      display: block;
      font-size: 12px;
    }

    .sign-up__label--checkbox {
      color: unset;
      display: inline;
      font-size: 14px;
    }

    .sign-up__checkbox {
      margin-right: 12px;
    }

    .sign-up__text-input {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #d2d2d2;
      font-size: 14px;
      padding: 12px 0;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .sign-up__submit-button {
      @extend %primary-button;
      margin-top: 24px;
    }
  }
}