$cardinal-red: #C3002F;
$antique-brass: #CC916D;
$pampas: #F3F2EE;
$steel-gray: #15151C;
$dingley: #758347;
$christine: #f2720f;
$pomegranate: #f44336;

$primary-brand: $cardinal-red;
$light-shade: $pampas;
$dark-shade: $steel-gray;
$accent: $antique-brass;


$light-background-color: $light-shade;
$dark-background-color: $dark-shade;
$light-text-color: $light-shade;
$dark-text-color: $dark-shade;
